<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="../../../images/logo.svg" type="image/x-icon" />

    <link rel="stylesheet" href="../../../css/styles.css" />
    <link rel="stylesheet" href="../../../css/aboutUs.css">
    <title>О НАС</title>
</head>
<body>
<header id="header" class="header">
    <div class="navigation">
        <div class="container">
            <nav class="nav">
                <div class="nav__hamburger">
                    <svg>
                        <use xlink:href="../../../images/sprite.svg#icon-menu"></use>
                    </svg>
                </div>

                <div class="nav__logo">
                    <img src="../../../images/logo.svg" alt="logo">
                    <a href="/home" class="scroll-link">
                        Альтитуда
                    </a>
                </div>

                <div class="nav__menu">
                    <div class="menu__top">
                        <span class="nav__category">Альтитуда</span>
                        <a href="#" class="close__toggle">
                            <svg>
                                <use xlink:href="../../../images/sprite.svg#icon-cross"></use>
                            </svg>
                        </a>
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/home" class="nav__link">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="/home#collection" class="nav__link">Категории</a>
                        </li>
                        <li class="nav__item">
                            <a href="/home#testimonial" class="nav__link">Отзывы</a>
                        </li>
                        <li class="nav__item">
                            <a href="/aboutUs" class="nav__link">О нас</a>
                        </li>
                    </ul>
                </div>

                <div class="nav__icons">
                    <a href="/login" class="icon__item">
                        <svg class="icon__user">
                            <use xlink:href="../../../images/sprite.svg#icon-user"></use>
                        </svg>
                    </a>

                    <a href="/shoppingCart" class="icon__item" id="cart__icon">
                        <svg class="icon__cart">
                            <use xlink:href="../../images/sprite.svg#icon-shopping-basket"></use>
                        </svg>
<!--                        <span id="cart__total">0</span>-->
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="page__title-area">
        <div class="container">
            <div class="page__title-container">
                <ul class="page__titles">
                    <li>
                        <a href="/">
                            <svg>
                                <use xlink:href="../../../images/sprite.svg#icon-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page__title">О нас</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="content">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79577.38783660145!2d30.68164486461834!3d46.459716164498346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318a0b864c43%3A0x129f8fe28cf2176c!2z0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1615856556357!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="description__us">
        <div class="footer-top__box">
            <h3>О НАС</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non
                provident rem sed minus natus unde vel modi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non
                provident rem sed minus natus unde vel modi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non
                provident rem sed minus natus unde vel modi!
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="footer-top__box contacts">
            <h3>КОНТАКТЫ</h3>
            <div class="footer-top">
                  <span>
                    <svg>
                      <use xlink:href="../../../images/sprite.svg#icon-location"></use>
                    </svg>
                  </span>
                Княжеская 42, Украина
            </div>
            <div>
                  <span>
                    <svg>
                      <use xlink:href="../../../images/sprite.svg#icon-envelop"></use>
                    </svg>
                  </span>
                company@gmail.com
            </div>
            <div>
                  <span>
                    <svg>
                      <use xlink:href="../../../images/sprite.svg#icon-phone"></use>
                    </svg>
                  </span>
                456-456-4512
            </div>
            <div>
                  <span>
                    <svg>
                      <use xlink:href="../../../images/sprite.svg#icon-paperplane"></use>
                    </svg>
                  </span>
                Одесса, Украина
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer__top">

            <div class="footer-top__box">
                <h3>КОНТАКТЫ</h3>
                <div>
            <span>
              <svg>
                <use xlink:href="../../images/sprite.svg#icon-location"></use>
              </svg>
            </span>
                    Княжеская 42, Украина
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="../../images/sprite.svg#icon-envelop"></use>
              </svg>
            </span>
                    <a href="mailto:company@gmail.com">company@gmail.com</a>
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="../../images/sprite.svg#icon-phone"></use>
              </svg>
            </span>
                    <a href="tel:+4564564512">456-456-4512</a>
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="../../images/sprite.svg#icon-paperplane"></use>
              </svg>
            </span>
                    Одесса, Украина
                </div>
            </div>

            <div class="footer-top__box">
                <h3>О НАС</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non
                    provident rem sed minus natus unde vel modi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo praesentium, numquam non
                    provident rem sed minus natus unde vel modi!</p>
            </div>
        </div>
    </div>
    <!-- <div class="footer__bottom">
      <div class="footer-bottom__box">

      </div>
      <div class="footer-bottom__box">

      </div>
    </div> -->
    </div>
</footer>
<script src="../../../js/products.js"></script>
<script src="../../../js/main.js"></script>
</body>
</html>